body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #555555;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3d3d3d;
  height: 80px;
  padding: 0 20px;
  border-bottom: 1px solid #000000;
}

header h1 {
  display: inline-block;
  font-size: 40px;
  color: #fff;
  margin: 20px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #3d3d3d;
  margin-top: 20px;
  border-top: 1px solid #000000;
}

#visitorCount {
  background-color: #8b8b8b;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

nav {
  float: right;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  line-height: 80px;
  border: 2px solid #9790c0;
  background-color: #4d4d4d; /* Updated background color to better match header */
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s; /* Added transition for smooth hover effect */
}

nav a:hover {
  background-color: #666; /* Updated hover background color */
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #7c7c7c;
  border: 1px solid #3a3a3a;
}

.content > div:not(:first-child) {
  margin-top: 20px;
}

.section-header {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.section-subheader {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

ul li {
  padding: 5px 0;
}

p {
  text-align: left;
  margin-top: 20px;
}

a {
  color: #0e387c;
  text-decoration: none;
}
a:hover {
  color: #08294e;
}

img.profile-pic {
  max-width: 15%;
  border-radius: 5%;
  display: block;
  margin: 0 auto 20px;
}

.section-content {
  display: none;
}

.section-content.active {
  display: block;
}

.resume-download-link {
  text-align: right;
}

.resume-download-button {
  display: inline-flex;
  padding: 1px 2px;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 2px;
  transition: background-color 0.3s, border-color 0.3s;
}

.resume-download-button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}


.resume-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.right-column {
  flex: 1;
  padding-left: 20px;
}

.experience-job-entry {
  background-color: #8b8b8b;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
}

.experience-job-entry:hover {
  background-color: #9c9c9c; /* Updated hover background color */
}

.experience-job-entry::before {
  content: attr(data-company-name);
  display: block;
  font-weight: bold;
}

.experience-job-entry.expanded::after {
  content: "\A Role: " attr(data-company-role) "\A Location: " attr(data-company-location) "\A Duration: " attr(data-company-duration) "\A\A Description: " "\A• " attr(data-company-description1) "\A• " attr(data-company-description2) "\A• " attr(data-company-description3) "\A• " attr(data-company-description4) "\A• " attr(data-company-description5) "\A• " attr(data-company-description6) "\A• " attr(data-company-description7);
  white-space: pre;
  display: block;
  margin-top: 10px;
}

.badges-container img {
  width: 10%;
  height: auto;
}

.skill-category {
  background-color: #8b8b8b;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
}

.skill-category:hover {
  background-color: #9c9c9c; /* Updated hover background color */
}

.skill-header {
  font-weight: bold;
}

.skills-list {
  display: none;
  padding-left: 20px;
}

.skill-category.expanded .skills-list {
  display: block;
}

.education-entry {
  background-color: #8b8b8b;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
}

.education-entry:hover {
  background-color: #9c9c9c; /* Updated hover background color */
}

.education-entry::before {
  content: attr(data-education-title);
  display: block;
  font-weight: bold;
}

.education-entry.expanded::after {
  content: "\A " attr(data-education-details);
  white-space: pre;
  display: block;
  margin-top: 10px;
}

.about-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-me,
.about-site {
  flex-basis: 48%;
}

.about-site ul {
  list-style-type: disc;
  padding-left: 20px;
}
